################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/othello/FileContentIndex/d6c76c16-1191-4265-ad69-f423fd430546.vsidx
/.vs/othello/FileContentIndex/7ed6e4df-3d8a-4457-af9d-bb7d58e02b95.vsidx
/.vs/othello/FileContentIndex/2703f192-ee47-4de7-b0c3-051f0b060fc5.vsidx
