################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/othello/FileContentIndex/d6c76c16-1191-4265-ad69-f423fd430546.vsidx
/.vs/othello/FileContentIndex/7ed6e4df-3d8a-4457-af9d-bb7d58e02b95.vsidx
/.vs/othello/FileContentIndex/2703f192-ee47-4de7-b0c3-051f0b060fc5.vsidx
/.vs/othello/FileContentIndex/c9514a5b-80d3-459d-b27d-c1942b1b0c6d.vsidx
/.vs/othello/FileContentIndex/dc784f4f-f727-4eb2-a31f-06804979ebf6.vsidx
/.vs/othello/FileContentIndex/c1751ef2-363a-4b3d-a40f-0ca44db19342.vsidx
/.vs/othello/FileContentIndex/7fd72c4c-3f69-4431-ad1c-5b3bdfae3202.vsidx
